# Input devices
r_dir_file(system_server, idc_file);
r_dir_file(system_server, keylayout_file);

# Fingerprint
get_prop(system_server, fp_prop);

allow system_server sysfs:file { read } ;
allow system_server sysfs:file { open } ;
allow system_server default_android_hwservice:hwservice_manager { find } ;
allow system_server init:binder { call } ;
